@model DocKick.DataTransferModels.Users.SingInModel
@{
    ViewData["Title"] = "Login";
}


<div class="row justify-content-center">
    <form class="col-6" asp-action="Login" method="post" asp-antiforgery="true">
        @Html.ValidationSummary(false)
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <div class="mb-2">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control">
        </div>
        <div class="mb-2">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        @await Component.InvokeAsync("ExternalProviders", new
                                                          {
                                                              returnUrl = Model.ReturnUrl
                                                          })

        <hr/>

        <div>
            If you would like to sign up click <a asp-action="SignUp" asp-route-ReturnUrl="@Model.ReturnUrl">here</a>.
        </div>

    </form>
</div>