<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container mt-2">
    @RenderBody()
</div>

<script src="@Url.Content("~/js/bootstrap.bundle.min.js")"></script>
</body>
</html>